In [1]:
import pandas as pd 
from itertools import combinations
import numpy as np

Gdata = pd.read_csv("C:/Users/bablu/Downloads/Example.csv")
Gdata

  Transactional  Iteam 1  Iteam 2  Iteam 3  Iteam 4  Iteam 5
0            T1        1        1        1        0        0
1            T2        0        1        1        1        0
2            T3        0        0        0        1        1
3            T4        1        1        0        1        0
4            T5        1        1        1        0        1
5            T6        1        1        1        1        0

In [2]:
thold = 50
con = 60
freq1 = []
min_feq = int(len(Gdata["Transactional"])/100*thold)
# count the feq
for i in range(1,6):
    freq1.append([i,sum(Gdata[f"Iteam {i}"])])
print(freq1)

[[1, 4], [2, 5], [3, 4], [4, 4], [5, 2]]

In [3]:
# delete iteam
for i in freq1:
    if i[1] < min_feq:
        freq1.remove(i)
print(freq1)

[[1, 4], [2, 5], [3, 4], [4, 4]]

In [4]:
# set2
f2 = ""
for i in freq1:
    f2 += f"{i[0]}"
f2

'1234'

In [5]:
uitem2 = list(combinations(f2, 2))
ufeq2 = []

# count the feq2
for i in uitem2:
    x=0
    for j,k in zip(Gdata[f"Iteam {i[0]}"],Gdata[f"Iteam {i[1]}"]):
        if j==1 and k==1:
            x+=1
    ufeq2.append(x)
print(uitem2)
ufeq2

[('1', '2'), ('1', '3'), ('1', '4'), ('2', '3'), ('2', '4'), ('3', '4')]

[4, 3, 2, 4, 3, 2]

In [6]:
#delet item for set of 2
for i,j in zip(ufeq2,uitem2):
    if i < min_feq:
        uitem2.remove(j)
        ufeq2.remove(i)

set2_name =np.array(uitem2)
set2_feq = np.array(ufeq2)
print(set2_name)
set2_feq

[['1' '2']
 ['1' '3']
 ['2' '3']
 ['2' '4']]

array([4, 3, 4, 3])

In [7]:
#set3
u_item3 = np.unique(set2_name)
set3_name = list(combinations(u_item3, 3))
set3_feq = []
print(u_item3)
set3_name

['1' '2' '3' '4']

[('1', '2', '3'), ('1', '2', '4'), ('1', '3', '4'), ('2', '3', '4')]

In [8]:
#count the feq
for i in set3_name:
    x=0
    for j,k,l in zip(Gdata[f"Iteam {i[0]}"],Gdata[f"Iteam {i[1]}"],Gdata[f"Iteam {i[2]}"]):
        if j==1 and k==1 and l==1:
            x+=1
    set3_feq.append(x)
print(set3_name)
set3_feq

[('1', '2', '3'), ('1', '2', '4'), ('1', '3', '4'), ('2', '3', '4')]

[3, 2, 1, 2]

In [9]:

#delet item for set of 3
for i,j in zip(set3_feq,set3_name):
    if min_feq > i:
        set3_feq.remove(i)
        
        set3_name.remove(j)
print(set3_feq)
set3_name

[3, 1]

[('1', '2', '3'), ('1', '3', '4')]