In [1]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv("C:/Users/bablu/Desktop/Mini/students_placement.csv")

In [10]:
df.shape

(300, 4)

In [14]:
df.sample(5)

     cgpa   iq  profile_score  placed
80   5.29  103             83       0
202  4.97  116             72       0
45   6.84   95             51       1
276  6.89  104             81       1
255  6.34  112             54       0

In [15]:
X = df.drop(columns=['placed'])
y = df['placed']

In [16]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=2)

In [17]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

rf = RandomForestClassifier()

rf.fit(X_train,y_train)

y_pred = rf.predict(X_test)

accuracy_score(y_test,y_pred)

0.9

In [18]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score

knn = KNeighborsClassifier(n_neighbors=5)

knn.fit(X_train,y_train)

y_pred = knn.predict(X_test)

accuracy_score(y_test,y_pred)

0.9

In [19]:
import pickle 
pickle.dump(knn,open('model.pkl','wb'))